body {
    font-family: Arial;
    margin: 0;
}

nav {
    background-color: black;
    color: white;

    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

nav a {
    color: rgb(255, 255, 255);
    transition: 0.25s;
    text-decoration: none;
}

nav a:hover {
    color: rgb(59, 116, 42);
}

main {
    padding-left: 20px;
}