body {
    font-family: Arial;
    margin: 0;
}

nav {
    background-color: black;
    color: white;

    padding: 15px;

    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#contenedor-productos {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
}



.producto {
    max-width: 200px;
    max-height: 400px;
    max-height: 100%;
}

.producto:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.producto img{
    max-width: 100%;
    object-fit: cover;
}

table{
    border-collapse: collapse;
}
td {
    border: 5px solid rgb(29, 87, 43);
    margin: 3px;
}
th {
    border: 5px solid black;
}